* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(153, 214, 194);
}

nav {
    background-color: rgb(11, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

nav .links {
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

nav img {
    height: 70px;
    width: 70px;
}

nav a {
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    text-decoration: none;
}

nav a:hover {
    color: rgb(153, 214, 194);
}

nav .details .login {
    background-color: rgb(153, 214, 194);
    color: black;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav .details .login:hover {
    background-color: hsla(0, 0%, 20%, 0.45);
    color: white;
}

a{
    text-decoration: none;
}

img {
    height: 150px;
    width: 300px;
    border-radius: 2%;
}
.paths{
    padding: 20px;
}



.path {
    display: flex;
    padding: 10px 60px;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 1px;

}

.path::-webkit-scrollbar {
    display: none;
}

.subpath {
    padding: 20px;
    background-color:white;
    margin: 10px;
    border-radius: 2%;

}


.name {
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin: 10px 30px;
}

.pathsname {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin: 10px 30px;
}

.he {
    border-radius: 0.5%;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 10px;
}

.op {
    border-radius: 0.5%;
    background-color:white;
    color:black;
    padding: 5px;
    margin: 20px;
}
.moreinfo a{
    text-decoration: none;
}

.vdo {
    background-color: #fcd0bd;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 10px;

}

video {
    height: 10%;
    width: 70%;
    border-radius: 25px;
}



.head {
    padding: 80px 60px;
}

.vdo .head h1 {
    font-size: 80px;
}

.vdo .head h2 {
    font-size: 50px;
}

.vdo .head h3 {
    font-size: 30px;
}
footer{
    background-color:rgb(48, 50, 50);
     color: #666;
     padding-top: 1px;
     margin-bottom: -100px;
 }
 footer h3{
     font-size: 1.2rem;
     font-weight: 500;
     font-family: Arial, Helvetica, sans-serif;
     margin: 0 0 50px 0;
     color: hsl(0, 14%, 99%);
 }
 footer .row{
     display: flex;
    
     padding: 10px 0px;
     margin-top: -100px;
     margin-bottom: 100px;
     margin-left: 150px;
 }
 footer .row .col{
     margin: 5px 50px;
 }
 footer .row .col a{
     text-decoration: none;
     color: #918f8f;
     font-size: 15px;
     padding: 8px;
     display: block;
 }
 
 .footer-bottom{
     background-color: #050000;
     width:100%;
     color: #fcfbfb;
     padding: 20px;
     margin-top: 0%;
 
 }