nav{
    display: flex;
    background-color:black;
    justify-content: space-between;
}
.logo img{
    height: 50px;
    width: 50px;
    max-width: 100px;
    object-fit:contain ;
    margin: 15px 15px;
}
nav .details{
    padding: 20px 10px 20px 10px;
    justify-content: space-between;
}

nav .details .login{
    background-color:rgb(255, 0, 0);
    color:black;
    padding: 10px 20px;
    border: 2px solid transparent;
    font-size: 20px;
    font-family: Arial;
    font-weight: 600;


}
.details .login:hover{
    background-color:transparent;
    color:white;
    transform: scale(0.9);
}
nav .details .signup{
    background-color:transparent;
    color:white;
    padding: 10px 20px;
    border: 2px solid rgb(149, 144, 144);
    font-size: 20px;
    font-family: Arial;
    font-weight: 600;

}
.details .signup:hover{
    background-color:rgb(255, 0, 0);
    color:black;
    transform: scale(0.9);
}
video{
    width: 100%;
    max-width: 100%;
}

.title1{
    color: blue;
}
.imgtitle h1{
    color: azure;
}
.page{
    
    padding: 10px 10px;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin: 1% 0.01%;
}
.cards .card{
    
    background-color: black;
    padding: 10px 10px;
    

}
.cards .card img{
    height: 250px;
    max-width: 400px;
    margin: 10px 10px;

}
.buttons{
    justify-content: space-between;
    margin: 10px 100px;
    padding: 0 30px;

}
.buttons button{
    background-color:black;
    color: white;
    padding: 0.5px 5px;
    border:0.5px solid white ;
}
.cards .card:hover{
    transform: scale(0.9);
}
